<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/todos.css" />
    <script defer src="/javascripts/todos.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
      <% todos.forEach(todo => { %>
      <div
        data-completed="<%= todo.completed %>"
        data-id="<%= todo.id %>"
        data-cc="todo" class="todo<%= todo.completed ? " todo--completed" : "" %> "><%= todo.title %></div>
      <% }) %>
  </body>
</html>
